<!DOCTYPE html>
<html>
    <head>
        <title>Jedi Name Generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div#main {
                max-width: 500px;
                padding: 20px;
            }
            
            nav .title {
                font-weight: bold;
            }
            
            a.active {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <h1>Hi there, {{ first }}.</h1>
            <p>Your Jedi Name is {{ jedi_name }}.</p>
        </div>
    </body>
</html>